@page "/pdf-express"
@inject IJSRuntime _js

<article class="content p-4">
    <input @bind-value="@_pdfUrl" />
    <button @onclick="LoadPdf">Load</button>
</article>

<div id='viewer' style='height: 600px;'></div>

@code {

    private string _pdfUrl = "https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf";

    private async Task LoadPdf()
    {
        await _js.InvokeAsync<object>("initWebViewer", _pdfUrl);
    }
}
