@page "/pdf-express"
@inject IJSRuntime _js
@inject NavigationManager _navigationManager

<article class="content p-4">
    <input @bind-value="@_pdfUrl" />
    <button @onclick="LoadPdf">Load</button>
</article>

<div id='viewer' style='height: 600px;'></div>

@code {

    private string _pdfUrl = "https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf";

    private async Task LoadPdf()
    {
        var domain = _navigationManager.BaseUri;
        var key = "";

        if (domain.Contains("localhost"))
            key = "ECsEG9yby6XpiiqaZmJY";

        var error = "Custom error handling message";
        await _js.InvokeAsync<object>("initWebViewer", key, _pdfUrl, error);
    }
}
